#Server
PORT=3000
G2_ENV=

#JWT
JWT_ACCESS_TOKEN_SECRET=

JWT_ACCESS_TOKEN_EXPIRATION_TIME=
#MongoDB
MONGO_URI=

#Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

#Postgres
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE_NAME=tracking-db
POSTGRES_SYNCHRONIZE=false
